<div class="body">
<div class="login-card">
    <div class="header">Login</div>
    <div class="content">
        <div class="username">
            <label class="input-label">Username</label><br>
            <input class="input" [(ngModel)]="username">
        </div>
        <div >
            <label class="input-label">Password</label><br>
            <input class="input" type="password" [(ngModel)]="password">
        </div>
    </div>
    <div class="submit1">
        <button (click)="submit()" class="reset">Login</button>
    </div>
</div>
</div>