.body{
    background-color: var(--background-color);
    background-image: var(--background-image);
    height: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
a{
    padding-left: 0.4rem;
    position: absolute;
    top: 0.3rem;
    text-decoration: none;
    color: white;
    font-size: larger;
    .shop{
        margin-bottom: -5px;
        color: lightgray;
    }
}
a:hover {
    color: white;
    .shop{
        color: white;
    }
}
.search{
    // float: right;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 1rem;
}
.search-box{
    padding: 5px;
    padding-left: 1rem;
    margin-top: 8px;
    width: 25%;
    font-size: large;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border: none;
}
button{
    padding: 6px 10px 6px 10px;
    margin-top: 8px;
    border: 1px solid transparent;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    font-size: medium;
    background-color: lightgray;
}
button:hover{
    background-color: rgba(193,191,191);
}
@media(max-width:600px)
{
    .search-box{
        width: 50%;
    }
    .search{
        margin-right: 10px;
        margin-left: 10px;
    }
}
@media(max-width:350px)
{
    .search-box{
        width: 30%;
    }
}